{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Article creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
