Menu principal de : bac-a-sable

	

{#{{ knp_menu_render('GEIIStockBundle:Builder:mainMenu') }}#}


<h1>Opération sur le stock </h1>
<ul>
	<li>Consulter l'état du stock</li>
	<li>Déposer dans le stock</li>
</ul>
<h1>Opération sur les références </h1>
<ul>
	<li>Consulter les références</li>
	<li>Déposer nouvelle référence</li>
</ul>